section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  width: 400px;
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

button{
  border-radius: 10px;
  height: 50px;
  width: 100px;
  background-color: #000;
  color: #fff;
  font-size: 1em;
}

.container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  color: #fff;
  font-size: 1em;
  margin: 5%;
}